* {
    margin: 0%;
    text-align: center;
    padding: 10px;
    background-image: url(https://i.stack.imgur.com/NEuip.jpg);

    
}


.rps-headWord {
    font-size: 50px;
    color: aqua;
    
    
}
.weapon-selection {

    color: aqua;
    
}
.first-5 {

    color: aqua;
}
input {

    color: aqua;
}
.player-comp-scores {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;

}
.box-player-comp {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    
}
.box-player, .box-comp {
    border: 1px solid black;
    padding: 40px;
    width: 10%;
    color: aqua;

}


#box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;


    

}
#result {
    border: 1px solid black;
    padding: 80px;
    width: 300px;
    color: aqua;
    


    
}


